.header {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header a {
  color: inherit;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

.header a:focus,
.header a:hover {
  background: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
}

.content {
  margin: 3rem auto;
  max-width: 54ch;
}

/* CSS that's applied when the viewing area's width is 800px or less */
@media screen and (max-width: 800px) {
  .content {
    margin: 3rem 1.4rem;
    max-width: fit-content;
  }
}
